
<h2>The CUBE method</h2>
<p>
    <b>CUBE</b> is a prioritization method for the of product backlogs. It takes different perspectives into account. This helps you to maximize your odds of success.
</p>

<div class="cards">
    <div class="card">
        <a href="{{ '/cube/' | relative_url }}">
            <img src="{{ '/assets/CUBE_Method_Slides.webp' | relative_url }}" alt="CUBE Method presentation slides" loading="lazy">
        </a>
    </div>

    <div class="card">
        {% if site.include_downloads == true %}
        <a href="{{ '/cube/' | relative_url }}">Learn more</a>
        <br/><br/>
        <!--
        <a href="{{ '/assets/Patrick-Frey-CUBE-book.pdf' | relative_url }}" download style="text-decoration: none;">
            <div class="button">
                Download ebook (62 pages)
            </div>
        </a>
        --> 
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfCoCRKM2hvPj4FD6zze4vmz17Rwv6JZI4rl9lA5UCW1dtcPw/viewform?usp=sf_link" class="button" target="_blank">Get ebook (62 pages)</a>
        <!--        
        <a href="{{ '/assets/Patrick-Frey-CUBE-slides.pdf' | relative_url }}" download style="text-decoration: none;">
            <div class="button">
                Download presentation (75 slides)  
            </div>
        </a>
        -->
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6HcqmnPv0a7gprBqR_OhZ3nRHDKy1CuiRlxQtTC6T2NrgTg/viewform?usp=sf_link" class="button" target="_blank">Get presentation (75 slides)</a>        
        <br/>      
        <a href="{{ '/cube-podcast/' | relative_url }}" class="button">Podcast</a>        
        {% else %}
        <a href="{{ '/cube/' | relative_url }}" class="button">Learn more</a>      
        {% endif %}
    </div>
</div>

<br/>