
<h2>The CUBE method</h2>
<p>
    <b>CUBE</b> is a prioritization method for the of product backlogs. It takes different perspectives into account. This helps you to maximize your odds of success.
</p>

<div class="cards">
    <div class="card">
        <a href="{{ '/cube/' | relative_url }}">
            <img src="{{ '/assets/CUBE_Method_Slides.jpg' | relative_url }}" alt="Patrick-Frey-CUBE-slides.pdf">
        </a>
    </div>

    <div class="card">
        {% if site.include_downloads == true %}
        <a href="{{ '/cube/' | relative_url }}">
            <div>
                Learn more
            </div>
        </a>            
        <br/>        
        <!--
        <a href="{{ '/assets/Patrick-Frey-CUBE-book.pdf' | relative_url }}" download style="text-decoration: none;">
            <div class="button">
                Download ebook (62 pages)
            </div>
        </a>
        --> 
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfCoCRKM2hvPj4FD6zze4vmz17Rwv6JZI4rl9lA5UCW1dtcPw/viewform?usp=sf_link" download style="text-decoration: none;" target="_blank">
            <div class="button">
                Get ebook (62 pages)
            </div>
        </a>       
        <br/>
        <!--        
        <a href="{{ '/assets/Patrick-Frey-CUBE-slides.pdf' | relative_url }}" download style="text-decoration: none;">
            <div class="button">
                Download presentation (75 slides)  
            </div>
        </a>
        -->
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6HcqmnPv0a7gprBqR_OhZ3nRHDKy1CuiRlxQtTC6T2NrgTg/viewform?usp=sf_link" download style="text-decoration: none;" target="_blank">
            <div class="button">
                Get presentation (75 slides)  
            </div>
        </a>        
        {% else %}
        <a href="{{ '/cube/' | relative_url }} "  style="text-decoration: none;">
            <div class="button">
                Learn more
            </div>
        </a>      
        {% endif %}
    </div>
</div>

<br/>